.container ul{
    border: solid round;
    text-align: center;
}

.container li{
    border-top: solid;
    border-bottom: solid;
}

.container a{
    text-decoration: none;
    color: black;
    
}
.container h1{
    text-align:center;
    color:blueviolet;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: bolder;
}
.container h2{
    text-align:center;
    color: blueviolet;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.container h4{
    text-align:center;
    color: blueviolet;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.list-group h5{
    text-align:center;
}

img{
    object-fit:cover;
}

.container img{
    object-fit:cover;
}
